# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Data & Config (Sensitive)
auto_sms.db
config.json
*.xlsx
*.xls
*.csv
!samples/sample_contacts.xlsx

# Build & Dist
build/
dist/
*.spec

# Tools
adb/
adb_tools/
platform-tools/

# OS specific
.DS_Store
Thumbs.db
